/**
 * Wrapper
 */
.wrapper {
    box-sizing: border-box;
    max-width: $content-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Site header
 */
.site-header {
    // border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit/3 0;
    color: $grey-color;

    .wrapper {
        // font-size: 15px;
        text-align: center;
    }
}



// /**
//  * Sidebar
//  */
// .sidebar {
//     min-width: 150px;
//     width: 20%;
//     float: right;

//     @include media-query($on-laptop) {
//         width: 100%;
//     }
// }

// /**
//  * Main
//  */
// .main {
//     width: 80%;

//     @include media-query($on-laptop) {
//         width: 100%;
//     }
// }



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

// .page-heading {
//     font-size: 1.25em;
// }

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: 0.875em;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 1.5em;
}

.icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: .6;

    &:hover {
        opacity: 1;
    }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;


    .post-title {
        margin-bottom: 0;
    }

    .post-meta {
        margin: 0;
    }
}

ul.tag-list {
    margin-top: 5px;
    padding: 0;
    list-style-type: none;

    li {
        display: inline;
        padding: .1em .3em;
        font-size: 0.875em;
        color: #567482;
        background-color: #f3f6fa;
        border: solid 1px #dce6f0;
    }
    li + li {
        margin-left: 5px;
    }
}
